<div class="navbar-fixed">
    <nav class="purple lighten-3">
      <div class="nav-wrapper">
        <a href="#!" class="brand-logo"><strong> UV</strong></a>
        <ul class="right hide-on-med-and-down">
          <li class="bright-text"><a href="">About</a></li>
          <li><a href="bright-text">Source Code</a></li>
        </ul>
      </div>
    </nav>
  </div>