<div class="mainbg">
    <div class="overlay"></div>

    <div class="container">
        <h2 class="main-text1">Enter the UserName whose availiability you want to check</h2>
        <form action="" id="urlForm" method="GET">
            <div class="input-field">
                <input type="text" name="username" id="username" autocomplete="off" data-length="20">
                <label for="url" class="">Enter Username to check</label>
                <div class="center-align">
                    <button class="btn btn-large waves-effect waves-light">Submit</button>
                </div>
            </div>
    </div>
</div>

</form>