
<div class="container center align">
    <div class="">GitHub {{github}}</div>
<div class="">Hackerrank {{hackerrank}}</div>
<div class="">Hackerearth</div>
<div class="">Codeforce</div>
<div class="">Topcoder</div>
<div class="">Codechef {{codechef}}</div>
</div>